.git
.github
.env
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.db
**/*.sqlite
**/*.sqlite3
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/node_modules
**/.next
**/.pnpm-store
**/coverage
**/*.tsbuildinfo
dist
build
